<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Simple Agile Planning Board</title>
    <link rel="stylesheet" href="style.css" type="text/css" />

    <body>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="kanban.js"></script>
        
        <div id="wrapper">
        </div>


        <form id = "updateTaskForm" style="display: none">
            <input type="text" id="old-title" style="display: none">
            New Title: <input type="text" id="new-title">
            <input type="submit" value="Submit">
        </form>
        
        <form id = "saveForm">
            <input type="submit" value="Save">
        </form>
        </br>
        Double click on a task to rename
    </body>
</html>