body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.board
{
	min-height: 100px;
	position: relative;
}
.board-section-title
{
	background-color: #52460a;
	color: white;
	padding: 2px 0px;
	text-align: center;
}
.board-section
{
	background-color: tan;
	border: 2px solid black;
	float: left;
	min-width: 15%;
	max-width: 25%;
	min-height: 150px;
}
*[draggable=true]
{
	background-image: -moz-linear-gradient(
 center top,
 white 63%,
 rgb(5,161,245) 92%
 );
	background-image: -webkit-gradient(linear,
 left top, left bottom,
color-stop(0.63, white),
 color-stop(0.92, rgb(5,161,245)));
	background-repeat: repeat;
	background-size: 1px 8px;
	border: 2px solid black;
	float: left;
	font-weight: bold;
	margin: 10px;
	min-height: 50px;
	min-height: 60px;
	min-width: 50px;
	moz-background-size: 1px 8px;
	webkit-background-size: 1px 8px;
}
.task-title
{
	background-color: rgb(255,255,255);
	border: 2px solid white;
}
#wrapper
{
    display: inline-block;
}